.div-buttons{
    float: right;

    a{
        margin-right: 20px;
        color: #7398f8;
        text-decoration: none;
    }
    .button-login{
        background-color: #5f87e7;
        width: 130px;
        height: 40px;
    }
}