.input-div{

    .input-label{
        display: block;
        color: #7398f8;
        margin: 5px 0px;
    }

    .input-input{
        width: 350px;
        height: 40px;
        margin-bottom: 10px;
        padding-left: 14px;
        border-radius: 5px;
        font-size: 16px;
        border: 1px solid #7398f8;
        color: #404040;
    }
}