<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="sidebar_div">
            <div class="sidebar_div-title">
                <p class="sidebar_p-title">Gestão de Gastos</p>
            </div>
            <div class="sidebar_div-menu">
                <app-link-menu route="/home/dashboard" icon="home" link="Dashboard"></app-link-menu>
                <app-link-menu route="/home/teste" icon="home" link="teste"></app-link-menu>
                <app-link-menu route="/home/teste2" icon="home" link="teste2"></app-link-menu>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="drawer-centro">
        <mat-toolbar>
            <span>Dashboard</span>
            <div class="toolbar_div-end">

            </div>
        </mat-toolbar>
        <div class="centro_div">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<ngx-spinner bdColor="rgba(58,58,60,0.5)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>